In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
pd.set_option('display.float_format',lambda x : '%.2f' % x)
from warnings import filterwarnings
filterwarnings('ignore')

import pandas as pd
df1 = pd.read_csv('./data/500_Person_Gender_Height_Weight_Index.csv')
df1['Height'].fillna(df1.Height.mean())
#df1['Height'].fillna(df1.Height.mode())
#df1['Height'].fillna(df1.Height.median())
df1['Height'].dropna()
df1.dropna(axis=1)
df1['Gender'].replace("Male", 0,inplace=True)
df1['Gender'].replace("Female", 1,inplace=True)

样本：500身高体重健康指标

0 - Extremely Weak

1 – Weak

2 – Normal

3 – Overweight

4 – Obesity

5 - Extreme Obesity

# 扫描样本

In [2]:
df1 = pd.read_csv('./data/500_Person_Gender_Height_Weight_Index.csv')
df1.rename(columns={'Index':"Level"},inplace=True)
df1.head(6)

   Gender  Height  Weight  Level
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3
5    Male     189     104      3

# 样本大小

In [4]:
df1.shape

(500, 4)

# 数据类型

In [5]:
df1.dtypes

Gender    object
Height     int64
Weight     int64
Level      int64
dtype: object

# 有哪些值

In [7]:
print(df1['Level'].unique())
print(df1['Gender'].unique())

[4 2 3 5 1 0]
['Male' 'Female']

# 有没有缺失数据

In [8]:
df1.isnull() # df1.isna()

     Gender  Height  Weight  Level
0     False   False   False  False
1     False   False   False  False
2     False   False   False  False
3     False   False   False  False
4     False   False   False  False
..      ...     ...     ...    ...
495   False   False   False  False
496   False   False   False  False
497   False   False   False  False
498   False   False   False  False
499   False   False   False  False

[500 rows x 4 columns]

# 汇总信息

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  500 non-null    object
 1   Height  500 non-null    int64
 2   Weight  500 non-null    int64
 3   Level   500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

# 统计信息

In [12]:
df1.describe()
#df1.describe(include='all')

        Gender  Height  Weight  Level
count      500  500.00  500.00 500.00
unique       2     nan     nan    nan
top     Female     nan     nan    nan
freq       255     nan     nan    nan
mean       NaN  169.94  106.00   3.75
std        NaN   16.38   32.38   1.36
min        NaN  140.00   50.00   0.00
25%        NaN  156.00   80.00   3.00
50%        NaN  170.50  106.00   4.00
75%        NaN  184.00  136.00   5.00
max        NaN  199.00  160.00   5.00

# 样本分割- 留出法

test_size=0.20 #测试样本所占比例

shuffle=False  #是否要乱序

random_state=1  #随机种子

In [19]:
from sklearn.model_selection import train_test_split
X, y = np.arange(100).reshape((10, 10)), range(10)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1,shuffle=False)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1,shuffle=True)
X_train,y_train

(array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
        [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
        [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]]),
 [0, 1, 2, 3, 4, 5])